@charset "UTF-8";
html,body{ height: 100%; }
body {
  min-width: 1320px;
  font-family: 'Noto Sans KR', sans-serif;
  color: #666666;
}
/*
실습:
google 웹폰트 noto sans kr을 적용하시오.
적용 방식은 link 방식
*/
ul,ol{ list-style: none; }
a { color: #666666; }
h1,h2,h3,h4,h5,h6 { line-height: 1; }

/* header area */
#header-wrap {
  width: 1320px;
  margin: 0 auto;
  background: #f1f1f1;
}

/*상단 고정형 메뉴*/
#header {
  position: fixed;
  width: 1320px;
  margin: 0 auto;
  padding: 45px 20px 0;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 300;
}

#logo {
  float: left;
}

#header .inner { float: right; }

#header .inner #gnb, #header .inner #login-menu { float: left; }

/*
실습 :
#gnb #login-menu 의 공통코드를 확인하고 코드를 재작성하시오.
*/
#header .inner > ul {
  overflow: hidden;
}

#header .inner > ul > li {
  float: left;

  /* height: 20px; */
}

#header .inner > ul > li > a {
  line-height: 20px;
    color:#ff4e00;
}

#gnb {
  /* overflow: hidden; */
  margin-right: 93px;
}

#gnb li {
  /* float: left;
  height: 20px; */
  margin-left: 50px;
}

/* #gnb li a {
  line-height: 20px;
} */

#gnb li:nth-child(1) {
  margin-left: 0;
}

/* #login-menu {
  overflow: hidden;
} */

#login-menu li {
  /* float: left;
  height: 20px; */
  margin-left: 30px;
}

/* #login-menu li a {
  line-height: 20px;
} */

#login-menu li:nth-child(1) {
  margin-left: 0;
}

/* 장바구니 카운터 */
#login-menu li a.cart span.count {
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 14px;
  font-weight: bold;
  line-height: 19px;
  text-align: center;
  color: #ff4e00;
  margin-left: 5px;
  border-radius: 50%;
  background: #ffc01d;
}

/* 메인 배너 영역 */
#mainbanner {
  background-image: url('../kuya/main_banner.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  background-color: #f4f4f4;
}

#mainbanner .inner{
  position: relative;
  width: 1320px;
  height: 100vh;
  margin: 0 auto;
  /* background: red; */
}

/* 메인배너 텍스트 */
#mainbanner .maintext {
  /* position: absolute;
  width: 100%;
  min-height: 254px;
  top: 50%;
  transform: translateY(-50%); */
  padding-top: 268px;
  text-align: center;
}

/* 메인배너 메인타이틀 */
#mainbanner .maintext p {
  font-size: 50px;
  color: #ff4e00;
}

#mainbanner .maintext p.maintitle {
  line-height: 60px;
}

#mainbanner .maintext p.subtitle {
  margin-top: 30px;
  font-size: 20px;
  color: #ffffff;
  text-shadow: 0 0 1px rgb(0 0 0 / 80%);
}

#mainbanner .maintext p.subtitle + .common-btn {
  margin-top: 40px;
}

.common-btn {
  display: inline-block;
  width: 180px;
  height: 60px;
  line-height: 60px;
  border-radius: 5px;
  background: #ff4e00;
  font-size: 20px;
  color: white;
}

/* 컨텐츠 영역 */
#container section .inner {
  width: 1320px;
  min-height: 650px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

/*
실습:
짝수번째 section의 배경색상을 #f9f9f9로
style 작성하시오.
 */
#container section:nth-child(even) {
  background: #f9f9f9;
}

#container section:nth-of-type(1) .inner {
  padding-top: 165px;
  min-height: 485px;
}

#container section:nth-of-type(2) .inner {
  padding-top: 145px;
  min-height: 505px;
}

/* section 공통요소 style */
#container section .inner h2 {
  font-size: 45px;
  line-height: 1;
  color: #333333;
}

#container section .inner .subtitle {
  margin-top: 22px;
  font-size: 20px;
  line-height: 30px;
  color: #666666;
}
/* //section 공통요소 style */

#container section .inner .box-wrap {
  overflow: hidden;

}

#container section .inner .box-wrap li {
  float: left;
  width: calc(25% - 40px);
  padding: 0 20px;
  text-align: center;

}

#container section .inner .box-wrap li .items {
  border: 1px solid #e3e3e3;
  padding: 47px 0 45px;
}

#container section .inner .box-wrap li .items h3 {
  font-size: 20px;
  color: #252525;
}

#container section .inner .box-wrap li .items p {
  margin-top: 32px;
  margin-bottom: 32px;
  line-height: 24px;
}

#container section .inner .box-wrap li .items .img img {
  opacity: .65;
}

/* section 두번째 */
#container section .inner .thumb-img-wrap {
  /*
  자식 요소 ul을 가운데 정렬한다.
  단, ul의 display의 값이 inline 이거나 또는 inlin-block일때
  정렬이 된다.
  */
  text-align: center;
}

#container section .inner .thumb-img-wrap ul {
  overflow: hidden;
  /*자식요소 li의 컨텐츠 크기 만틈 너비가 지정된다.*/
  display: inline-block;
}

#container section .inner .thumb-img-wrap ul:nth-child(1) {
  margin-top: 70px;
  background-image: url('../kuya/t-22.jpg');
}

#container section .inner .thumb-img-wrap ul:nth-child(2) {
  margin-top: 80px;
}

#container section .inner .thumb-img-wrap ul li {
  float: left;
  width: calc( 100% / 6 );
  height: 37px;
}

#container section .inner .thumb-img-wrap ul li img {
  /*
  이미지가 초기값 220px 이상 또는 이하로 변경
  li 요소의 너비 % 기준으로 크기가 변경된다.
  */
  width: 100%;
}

/* section 세번째  */
#container section .inner .box {
  float: left;
  width: 50%;
  min-height: 650px;
  text-align: center;
}

#container section .inner .box.img {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#container section:nth-child(3) .inner .box.img {
  background: url('../kuya/svg.png');
  background-size: contain;
  background-repeat: no-repeat;
}

/*
위 코드를 참고하여 section 네번째와 다섯번째
style을 작성하시오.
*/

/* section 네번째 */
#container section:nth-child(4){
  background-color: #f4f4f4;
  background-image: url('../kuya/main-pc-2.jpg');
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: calc( 50% + 665px ) center;
}

#container section:nth-child(4) .inner .box {
  text-align: left;
}

#container section:nth-child(4) .inner .box .text-box {
  padding-left: 50px;
}

/* section 다섯번째 */
#container section:nth-child(5) {
  background-color: #1d314a;
}

#container section:nth-child(5) .inner h2 {
  color: white;
}

#container section:nth-child(5) .inner  {
  background-image: url('../kuya/hey2.jpg');
  background-size: auto 610px;
  background-position: center bottom;
}

#container section .inner .box .text-box {
  display: inline-block;
  text-align: left;
  margin-top: 160.5px;
  padding-left: 140px;
}

#container section .inner .box .text-box h2 { line-height: 60px; }

#container section .inner .box .text-box a {
  text-align: center;
  margin-top: 35px;
}

/* 하단 영역 */
#footer {
  background-color: #ff4e00;
}

#footer .inner {
  position: relative;
  width: 1320px;
  height: 200px;
  padding: 50px 20px;
  box-sizing: border-box;
  margin: 0 auto;
}

#footer .inner .f-box {
  float: left;
}

#footer .inner .f-box:nth-child(2) {
  padding-left: 75px;
}

/* site menu */
#footer .inner .f-box ul { overflow: hidden; }

#footer .inner .f-box ul li {
  float: left;
  height: 20px;
  margin-right: 40px;
}

#footer .inner .f-box ul li:last-child {
  margin-right: 0;
}

#footer .inner .f-box ul li a{
  line-height: 20px;
  color: #000000;
}

#footer .inner .f-box .tel {
  /* font-size: 16px; */
  margin-top: 17px;
  line-height: 1;
  color: #000000;
  font-weight: bold;
}

#footer .inner .f-box .copyright {
  margin-top: 21px;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
}

#familysite {
  position: absolute;
  width: 190px;
  height: 30px;
  top: 41px;
  right: 20px;
  border: 1px solid #d1d1d1;
  color: #333333;
  outline: none;
  appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding-right: 15px;
  padding-left: 15px;
  background-image: url('../img/select_box_arrow.png');
  background-repeat: no-repeat;
  background-position: calc(100% - 15px) center;
}

#familysite:focus {
  border: 1px solid #999999;
  background-image: url('../img/select_box_arrow_focus.png');
}
